body {
  background: linear-gradient(90deg, rgb(42, 2, 68), rgba(21, 6, 53, 0.74));
  background-repeat: no-repeat;
  background-size: cover;
}

.Titulo {
  color: pink;
  text-align: center;
  padding-bottom: 15px;
}

.Fotos {
    width: 350px;
    height: 400px;
    display: flex;
    padding-bottom: 15px;
    margin-left: 450px;
}

.Fotos img {
  margin-right: 10px;
  border: 10px solid black;
  border-radius: 15px;
}

.Texto {
  color: pink;
  text-align: center;
  font-size: 17px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: blueviolet;
  border-radius: 30px;
  width: 900px;
  height: 110px;
  margin-left: 310px;
  padding-top: 15px;
}

.Fotos2 {
  width: 350px;
  height: 400px;
  display: flex;
  padding-bottom: 50px;
  margin-left: 450px;
}

.Fotos2 img {
margin-right: 10px;
border: 10px solid black;
border-radius: 15px;
}

.Foto3 {
  width: 300px;
  height: 300px;
  display: flex;
  margin-left: 490px;
}

.Foto3 img {
margin-right: 80px;
border: 10px solid black;
border-radius: 150px;
}

.Titulo2 {
  color: pink;
  text-align: center;
}

.Titulo3 {
  color: pink;
  display: flex;
  margin-left: 510px;
}

.Titulo3 h2 {
  margin-right: 170px;
}

.Titulo4 {
  color: pink;
  text-align: center;
  font-size: 17px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: blueviolet;
  border-radius: 30px;
  width: 900px;
  height: 220px;
  margin-left: 320px;
  padding-top: 15px;
}

@media screen and (max-width: 500px) {
/* Smartphone */
   .Texto {
    width: 380px;
    height: 250px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
  }
   .Titulo4 {
    width: 380px;
    height: 470px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
   }
  .Fotos {
    width: 320px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: auto;
    margin-top: auto;
    flex-direction: column;
    gap: 20px;
  }
  .Fotos2 {
    width: 320px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: auto;
    margin-top: 430px;
    flex-direction: column;
    gap: 20px;
  }
  .Foto3 {
    margin-left: auto;
    margin-right: auto;
    flex-direction: column;
    gap: 60px;
    padding-left: 80px;
  }
  .Titulo {
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
  }
  .Titulo2 {
    margin-left: auto;
    margin-right: auto;
    margin-top: 400px;
  }
  .Titulo3 {
    margin-left: auto;
    margin-right: auto;
    flex-direction: column;
    gap: 200px;
    padding-left: 145px;
    text-align: center;
    font-size: 15px;
  }
}
